@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Play";
}
body {
    background-color: #000;
    display: grid;
    justify-content: center;
}
